{{#if landingpagebutton1labelmissing}}{{else}}
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="34" style="font-family: arial">
      <table
        width="600"
        border="0"
        cellspacing="0"
        cellpadding=""
        style="font-family: arial; margin-top: 20px; margin-bottom: 10px"
      >
        <tr>
          <td width="218" height="34" style="font-family: arial">
            <table>
              <tr>
                <td>
                  <img
                    width="30"
                    height="30"
                    src="https://advancedkiosks.com/wp-content/uploads/2023/08/icon_homepage.png"
                  />
                </td>
                <td>
                  <p style="font-weight: bold; font-size: 24px; margin-left: 8px">HOMEPAGE TEMPLATE</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="48">
      <table width="100%" border="0" cellspacing="5" cellpadding="10">
        <tr>
          <td style="font-family: arial; background-color: #656565; font-size: 13px; font-weight: 600; color: #fff">
            Top 3 MOST CLICKED BUTTONS
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="5" cellpadding="10" style="font-family: arial; float: left">
        <tr>
          <td
            width="80%"
            style="font-family: arial; background-color: #d8d9db; color: #000; font-size: 13px; font-weight: 600"
          >
            {{landingpagebutton1label}}
          </td>
          <td
            align="center"
            style="font-family: arial; background-color: #f6f6f6; font-size: 13px; font-weight: 600; color: #000"
          >
            {{landingpagebutton1clicks}} Clicks
          </td>
        </tr>
        <tr>
          <td style="font-family: arial; background-color: #d8d9db; font-size: 13px; font-weight: 600; color: #000">
            {{landingpagebutton2label}}
          </td>
          <td
            align="center"
            style="font-family: arial; background-color: #f6f6f6; font-size: 13px; font-weight: 600; color: #000"
          >
            {{landingpagebutton2clicks}} Clicks
          </td>
        </tr>
        <tr>
          <td style="font-family: arial; background-color: #d8d9db; font-size: 13px; font-weight: 600; color: #000">
            {{landingpagebutton3label}}
          </td>
          <td
            align="center"
            style="font-family: arial; background-color: #f6f6f6; font-size: 13px; font-weight: 600; color: #000"
          >
            {{landingpagebutton3clicks}} Clicks
          </td>
        </tr>
        <tr>
          <td colspan="2" style="font-family: arial; background-color: #fff; font-size: 13px; font-weight: 400">
            More details can be found in your Zamok dashboard.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{{/if}}
