{{#if notificationstotalcountmissing}} {{> feature-missing feature-name="NOTIFICATIONS"
icon="https://advancedkiosks.com/wp-content/uploads/2023/08/icon_notificaiton.png"}} {{else}}
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="34" style="font-family: arial">
      <table
        width="100%"
        border="0"
        cellspacing="0"
        cellpadding=""
        style="font-family: arial; margin-top: 20px; margin-bottom: 10px"
      >
        <tr>
          <td width="218" height="34" style="font-family: arial">
            <table>
              <tr>
                <td>
                  <img
                    width="30"
                    height="34"
                    src="https://advancedkiosks.com/wp-content/uploads/2023/08/icon_notifications.png"
                  />
                </td>
                <td>
                  <p style="font-weight: bold; font-size: 24px; margin-left: 8px">NOTIFICATIONS</p>
                </td>
              </tr>
            </table>
          </td>
          <td width="20%">
            <table width="155" border="0" cellspacing="0" style="font-family: arial; background-color: #ffb400">
              <tr>
                <td align="left" height="34" style="font-family: arial; font-size: 14px; text-align: center">
                  <strong>Total: </strong><strong>{{notificationstotalcount}}</strong>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  {{#if notificationstotalcount}}
  <tr>
    <td height="48">
      <table width="100%" border="0" cellspacing="5" cellpadding="10">
        <tr>
          <td colspan="2" style="font-family: arial; background-color: #fff; font-size: 14px; font-weight: 600">
            MOST COMMON NOTIFICATIONS:
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="5" cellpadding="10" style="font-family: arial; float: left">
        <tr>
          <td width="12%" style="font-family: arial; background-color: #d8d9db; font-size: 13px; font-weight: 600">
            1st
          </td>
          <td
            width="88%"
            align="left"
            style="font-family: arial; background-color: #d8d9db; font-size: 13px; font-weight: 600; color: #ff7800"
          >
            <span style="font-family: arial; background-color: #d8d9db; font-size: 13px; font-weight: 600; color: #000"
              >{{notificationspopulartype1}}</span
            >
          </td>
        </tr>
        <tr>
          <td style="font-family: arial; background-color: #f6f6f6; font-size: 13px; font-weight: 600">2nd</td>
          <td
            align="left"
            style="font-family: arial; background-color: #f6f6f6; font-size: 13px; font-weight: 600; color: #000"
          >
            {{notificationspopulartype2}}
          </td>
        </tr>
        <tr>
          <td style="font-family: arial; background-color: #d8d9db; font-size: 13px; font-weight: 600">3rd</td>
          <td
            align="left"
            style="font-family: arial; background-color: #d8d9db; font-size: 13px; font-weight: 600; color: #ff7800"
          >
            <span style="font-family: arial; background-color: #d8d9db; font-size: 13px; font-weight: 600; color: #000"
              >{{notificationspopulartype3}}</span
            >
          </td>
        </tr>
      </table>
    </td>
  </tr>
  {{/if}}
</table>
{{/if}}
