<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="34" style="font-family: arial">
      <table
        width="100%"
        border="0"
        cellspacing="0"
        cellpadding=""
        style="font-family: arial; margin-top: 20px; margin-bottom: 10px"
      >
        <tr>
          <td width="218" height="34" style="font-family: arial">
            <table>
              <tr>
                <td>
                  <img
                    width="30"
                    height="30"
                    src="https://advancedkiosks.com/wp-content/uploads/2023/08/icon_sessions.png"
                  />
                </td>
                <td>
                  <p style="font-weight: bold; font-size: 24px; margin-left: 8px">SESSIONS</p>
                </td>
              </tr>
            </table>
          </td>
          <td width="20%" valign="middle">
            <table width="155" border="0" cellspacing="0" style="font-family: arial; background-color: #ffb400">
              <tr>
                <td align="left" height="34" style="font-family: arial; font-size: 14px; text-align: center">
                  <strong>Total: </strong><strong>{{sessionweeklycount}}</strong>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="600" border="0" cellspacing="5" cellpadding="10" style="font-family: arial; margin-top: 10px">
  <tr>
    <td width="80%" style="font-family: arial; background-color: #f6f6f6; font-size: 13px; font-weight: 600">
      Percent Change in Session Count Trend<br />
      <span style="font-family: arial; font-size: 11px; font-weight: 400"><em>*Over Reporting Period</em></span>
    </td>
    <td width="20%" align="center" style="font-family: arial; background-color: #f6f6f6">
      <strong>{{sessioncounttrendingdelta}}</strong>
    </td>
  </tr>
</table>
<table
  width="600"
  border="0"
  cellspacing="5"
  cellpadding="10"
  style="font-family: arial; font-weight: 600; font-size: 14px"
>
  <tr>
    <td colspan="7" style="font-family: arial; font-weight: 600">Number of Sessions Each Day:</td>
  </tr>
  <tr>
    <td align="center" style="font-family: arial; background-color: #d8d9db">SUN</td>
    <td align="center" style="font-family: arial; background-color: #d8d9db">MON</td>
    <td align="center" style="font-family: arial; background-color: #d8d9db">TUES</td>
    <td align="center" style="font-family: arial; background-color: #d8d9db">WED</td>
    <td align="center" style="font-family: arial; background-color: #d8d9db">THUR</td>
    <td align="center" style="font-family: arial; background-color: #d8d9db">FRI</td>
    <td align="center" style="font-family: arial; background-color: #d8d9db">SAT</td>
  </tr>
  <tr>
    <td align="center" style="font-family: arial; background-color: #f6f6f6">{{sessionday1usage}}</td>
    <td align="center" style="font-family: arial; background-color: #f6f6f6">{{sessionday2usage}}</td>
    <td align="center" style="font-family: arial; background-color: #f6f6f6">{{sessionday3usage}}</td>
    <td align="center" style="font-family: arial; background-color: #f6f6f6">{{sessionday4usage}}</td>
    <td align="center" style="font-family: arial; background-color: #f6f6f6">{{sessionday5usage}}</td>
    <td align="center" style="font-family: arial; background-color: #f6f6f6">{{sessionday6usage}}</td>
    <td align="center" style="font-family: arial; background-color: #f6f6f6">{{sessionday7usage}}</td>
  </tr>
</table>
